.CardPage {
    display: flex;
    flex-direction: column;
    height: 100%;

    .CardPageToolbar {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 24px 0;
    }

    .CardPageToolbar-RightSide {
        display: flex;
        gap: 8px;
    }

    .CardPageContent {
        overflow: auto;
    }

    .content:not(:empty) {
        padding: 20px 15%;
    }
}
